{{ define "public/footer" }}
<footer id="footer">
  <div class="footer-left">
    {{.config.copyright}}  {{.config.record}}
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        <li><a href="/">首页</a></li>
        <li><a rel="nofollow" href="https://www.phpbloger.com" target="_blank">phpblog</a></li>
        <li><a rel="nofollow" href="https://gitee.com/phpbloger" target="_blank">gitee</a></li>
        <li><a rel="nofollow" href="https://github.com/yiijun" target="_blank">github</a></li>
      </ul>
    </nav>
  </div>
</footer>
{{ end }}