{{ define "public/header" }}
<header id="header">
    <a href="#">
        <div id="logo" style="background-image: url('{{.config.logo}}');"></div>

        <div id="title">
            <h1>{{ .config.title }}</h1>
        </div>
    </a>
    <div id="nav">
        <ul>
            <li class="icon">
                <a href="#"><i class="fa fa-bars fa-2x"></i></a>
            </li>
            <li><a href="/" title="" >首页</a></li>
            {{range $i,$v :=.data.category}}
            <li><a target="_blank" href="{{$v.Url}}" title="" >{{$v.Name}}</a></li>
            {{end}}
        </ul>
    </div>
</header>
{{ end }}