@font-face {
  font-family: 'Meslo LG';
  font-style: normal;
  src: local('Meslo LG S'), url("../../../../../Library/Containers/com.tencent.xinWeChat/Data/Library/Application Support/com.tencent.xinWeChat/2.0b4.0.9/073dd78b72751b119808aba7c21ba16b/Message/MessageTemp/ae8ce8d4d95ea0718d201da53d53e520/File/www.leavesongs.com/static/fonts/meslo lg s regular for powerline.ttf") format('truetype');
}
